/*
body {
    //background: #F2F2F2;
    background: url("../images/field1.jpg"); 
    //height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //overflow-y: scroll;
}
*/
body {
    background: #F2F2F2;
}

.my-row {
    border: 3px solid red;
}

.my-col {
    border: 3px dotted blue;
}

.navbar-custom {
    padding: 1em;
    // adjust for screen size
    height: 7em;

    .logo {
        text-decoration: none;
        color: white;
        font-size: 1.4em;
        font-weight: bold;
        padding-top: 1.5em;
        z-index: 999;
    }

    .navbar-container {
        display: flex;
        place-content: space-between;
    };

    nav {
        display: none;
    }

    .mobile-menu {
        cursor: pointer;
        //padding-top: 2em;
        width: 3em;
    }

}


.sel-players-container {

    margin-top: 1em;
    margin-bottom: 2em;
    .sel-players {
        display: flex;
        justify-content: flex-start;
    }
}

.tools-col {
    display: flex;

    .dropdown {
        margin-right: 1.5em;
    }

    .selected {
        padding-top: 0.5em;
        text-decoration: none;
    }
}

.submit-col {
    display: flex;
    justify-content: flex-end;
}

.table-scroll-y {
    display: block;
    height: 400px;
    width: auto;
    overflow-y: auto;
    scrollbar-color: darkgray lightgray;
  }

.player-table {
    margin-top: 1em;
    border: 1px solid black;

    .tbl-header {
        //background-color: rgba(0, 0, 0, 0.1);
        //color: white;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.tbl-row {
    background-color: #FFFFFF;
    border: none;
}

.matchup {
    font-size: small;
}

.my-card {
    border: none;
    &:hover {
        // use js to fix this
        background: rgba(0, 0, 0, 0.001);
    }

    .card-body {
        padding-top: 0em;
        padding-bottom: 0.25em;
    }
}

footer {
    bottom: 0;
    background-color: #FBFBFB;
    display: flex;
    justify-content: center;
    padding-top: 1.5em;

    p {
        font-size: 0.75em;

        span {
            padding-left: 2em;
        }
    }
}

.card-background {
    background-color: rgba(0, 0, 0, 0.001);
}

nav.mobile-menu-disp {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    //background:  #20272E;
    background: #007289; 
    height: 100vh;
    padding: 1em;

    .nav-list {
        margin-top: 5em;
    }

    // list items within nav
    li {

        // links within nav
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 0.5em;
            font-size: 1.3em;
            text-align: right;
        }

    }
}

.mobile-menu-exit {
    float: right;
    margin: 0.5em;
    cursor: pointer;
}

.selected-click {
    background-color: #e8fce3;
    //background-color: #007289;
}

.sport-img {
    width: 3em;
    height: 2em;
}



