/*
body {
    //background: #F2F2F2;
    background: url("../images/field1.jpg"); 
    //height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //overflow-y: scroll;
}
*/
body {
    background: #F2F2F2;
}

.my-row {
    border: 3px solid red;
}

.my-col {
    border: 3px dotted blue;
}


.logo {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    font-weight: bold;
    padding-top: 1.5em;
    z-index: -1;
}

.navbar-container {
    display: flex;
    place-content: space-between;
    background: url("../images/field2.jpg");
    opacity: 0.75;
    // adjust for screen size
    height: 7em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    border: 3px solid black;

    nav {
        display: none;
    }

}

.mobile-menu {
    cursor: pointer;
    padding-top: 2em;
}

.mobile-menu-disp {
    display: block;
}

.sel-players-container {

    margin-top: 1em;
    margin-bottom: 2em;
    .sel-players {
        display: flex;
        justify-content: center;
    }
}

.tools-col {
    display: flex;

    .dropdown {
        margin-right: 1.5em;
    }

    .selected {
        padding-top: 0.5em;
        text-decoration: none;
    }
}

.submit-col {
    display: flex;
    justify-content: flex-end;
}

.table-scroll-y {
    display: block;
    height: 400px;
    width: auto;
    overflow-y: auto;
    scrollbar-color: darkgray lightgray;
  }

.player-table {
    margin-top: 1em;
    border: 1px solid black;

    .tbl-header {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.tbl-row {
    background-color: #FFFFFF;
    border: none;
}

.matchup {
    font-size: small;
}

.my-card {
    border: none;
    &:hover {
        // use js to fix this
        background: rgba(0, 0, 0, 0.001);
    }

    .card-body {
        padding-top: 0em;
        padding-bottom: 0.25em;
    }
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #FBFBFB;

    p {
        font-size: 0.75em;
    }
}

.card-background {
    background-color: rgba(0, 0, 0, 0.001);
}

