/*
body {
    //background: #F2F2F2;
    background: url("../images/field1.jpg"); 
    //height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //overflow-y: scroll;
}
*/
body {
  background: #F2F2F2;
}

.my-row {
  border: 3px solid red;
}

.my-col {
  border: 3px dotted blue;
}

.navbar-custom {
  padding: 1em;
  height: 7em;
}

.navbar-custom .logo {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 1.5em;
  z-index: 999;
}

.navbar-custom .navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar-custom nav {
  display: none;
}

.navbar-custom .mobile-menu {
  cursor: pointer;
  width: 3em;
}

.navbar-custom ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sel-players-container {
  margin-top: 1em;
  margin-bottom: 2em;
}

.sel-players-container .sel-players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tools-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tools-col .dropdown {
  margin-right: 1.5em;
}

.tools-col .selected {
  padding-top: 0.5em;
  text-decoration: none;
}

.submit-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.table-scroll-y {
  display: block;
  height: 400px;
  width: auto;
  overflow-y: auto;
  scrollbar-color: darkgray lightgray;
}

.player-table {
  margin-top: 1em;
  border: 1px solid black;
}

.player-table .tbl-header {
  background-color: rgba(0, 0, 0, 0.1);
}

.tbl-row {
  background-color: #FFFFFF;
  border: none;
}

.matchup {
  font-size: small;
}

.my-card {
  border: none;
}

.my-card:hover {
  background: rgba(0, 0, 0, 0.001);
}

.my-card .card-body {
  padding-top: 0em;
  padding-bottom: 0.25em;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #FBFBFB;
}

footer p {
  font-size: 0.75em;
}

.card-background {
  background-color: rgba(0, 0, 0, 0.001);
}

nav.mobile-menu-disp {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #007289;
  height: 100vh;
  padding: 1em;
}

nav .nav-list {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

.selected-click {
  background-color: #dce0e2;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar-custom nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 85%;
    padding: 0;
  }
  .navbar-custom nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-custom nav a {
    color: white;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar-custom nav ul.nav-list {
    margin: 0;
  }
}
/*# sourceMappingURL=main.css.map */