.my-row {
    border: 3px solid red;
}

.my-col {
    border: 3px dotted blue;
}



.logo {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.navbar-container {
    display: flex;
    place-content: space-between;

    nav {
        display: none;
    }

}

.mobile-menu {
    cursor: pointer;
}

.sel-players-container {

    margin-top: 1em;
    margin-bottom: 2em;

    .sel-players {
        display: flex;
        justify-content: center;
    }
}

.tools-col {
    display: flex;

    .dropdown {
        margin-right: 1.5em;
    }

    .selected {
        padding-top: 0.5em;
        text-decoration: none;
    }
}

.submit-col {
    display: flex;
    justify-content: flex-end;
}

.table-scroll-y {
    display: block;
    height: 400px;
    width: auto;
    overflow-y: auto;
    scrollbar-color: darkgray lightgray;
  }

.player-table {
    margin-top: 1em;

    .table-header {
        background: #f8f9fa ;
    }
}

.matchup {
    font-size: small;
}

.my-card {
    border: none;
    &:hover {
        // use js to fix this
        background: rgba(0, 0, 0, 0.001);
    }
}

.crd-body {
    padding-top: 0em;
    padding-bottom: 0.25em;
}

