
* {
    margin: 0;
    padding: 0;
  }
  
  .container-fluid {
    border: 3px red;
  }

  .container {
    max-width: 800px;
    margin: 30px auto;
    overflow: auto;
    min-height: 400px;
    border: 2px solid steelblue;
    padding: 30px;
    border-radius: 5px;
    background-color: whitesmoke;
    opacity: 0.95;
  }

  .my-container { 
    border: 1px solid green
  }

  .my-row {
    border: 3px solid red
  }

  .my-col {
    border: 3px dotted blue
  }

  .my-nav{
    background-color: whitesmoke;
    opacity: 0.8;
  }

  .selected {
    background-color: gray;
  }

  .table-scroll-y {
    display: block;
    height: 400px;
    overflow-y: auto;
    scrollbar-color: darkgray lightgray;
  }

  .table-player {
    border-bottom: 1px solid darkgray;
  }

  .table-fix-head { 
     overflow: auto; height: 100px; 
  }
  .table-fix-head thead th { 
      position: sticky; top: 0; z-index: 1;
  }

  table { 
      border-collapse: collapse; width: 100%; 
  }

  th { 
      background:#eee; 
  }

  .bgImage {
    background: url("field1.jpg"); 
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer {
    background-color: black;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  